# This file is just neccesary to run the tests,
config:
	end_point_url: https://servername:7071/service/admin/soap
	admin_login: name@domain
	admin_password: admin_password
	test_account: name@domain
	test_password: whatever

