# This file is just neccesary to run the tests,
config:
  end_point_url: "https://server:7071/service/admin/soap"
  admin_login: admin@domain
  admin_password: password 
  test_login: test@domain
  test_password: whatever

